* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: rgb(248, 74, 210);
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.box-pink {
  background-color: pink;
  height: 70px;
  margin: 0 10px;
  flex-basis: 140px;
}

.box-pink:first-child {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
}

.box-lime {
  background-color: rgb(217, 255, 155);
  width: 300px;
}

.box-green {
  background-color: lightgreen;
  justify-content: center;
  max-width: 700px;
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.box-yellow {
  background-color: yellow;
  height: 130px;
  flex-basis: 200px;
  margin: 10px;
}

footer {
  width: 100%;
  background-color: rgb(57, 141, 252);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.box-blue {
  background-color: rgb(152, 211, 250);
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
}

.box-blue:first-child {
  margin-right: auto;
}

.box-blue:last-child {
  margin: 10px auto;
}
